/* Header Css */
.navbar-collapse{
    flex-grow: 0 !important;
}

.nav-link.active{
    color: var(--primary-color) !important;
}

.nav-link{
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

.nav-link:hover{
    color: var(--primary-color) !important;
}

.login_form{
    min-height: 85vh;
}

.app_form{
    background-color: var(--gray-color);
    max-width: 550px;
    width: 100%;
}

.app_btn{
    background-color: var(--primary-color) !important;
    outline: none !important;
    border: none !important;
}

/* About Banner */
.about_banner{
    clip-path: polygon(100% 0, 100% 89%, 50% 100%, 0 89%, 0 48%, 0% 0%);
    background-image: url('http://greenlightpropertyfinder.com/assets/images/bg_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner_height{
    min-height: 85vh;
}

.people_des h1{
    font-size: 40px;
    font-weight: 60px;
    line-height: 60px;
}
.people_des p{
    font-size: 16px;
    line-height: 29px;
    color: var(--text-color-2);
}
.people_des{
    background: white;
    height: 471px;
    width: 720px;
    padding: 48px 48px 48px 48px;
}

.area_number h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 90px;
    color: var(--text-color);
}
.area-des p{
    font-size: 25px;
    line-height: 27px;
    color: var(--text-color-2);
}
.border_right{
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    padding-right: 1em;
    margin-right: 2em; 
}

.happy_head p{
font-size: 12px;
font-weight: 600;
letter-spacing: 2px;
line-height: 22px;
color: var(--primary-color);
}
.happy_head h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}
.happy_clien_des p{
    font-size: 16px;
    line-height: 29px;
    color: var(--text-color-2);
}
.line_border{
    width: 67px;
    height: 2px;
    background-color: var(--primary-color);
}
.user-des p{
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    color: var(--text-color);
}
.user-des span{
    font-size: 16px;
    line-height: 29px;
    color: #cccccc;
}